div(ng-show='loading') Loading issue...
h4(ng-show='!loading') {{issueId(issue)}}: {{issue.name}}
div
  table.table.table-condensed.table-striped(ng-show='!loading')
    tr.issue-header
      th.issue-status Status
      th.issue-priority Priority
      th.issue-create-date Created
    tr.issue
      td.issue-status {{util.issueStatus(issue)}}
      td.issue-priority
        span.label(ng-class='util.issuePriorityClass(issue)').
          {{util.issuePriorityName(issue)}}
      td.issue-create-date {{util.issueSimpleDate(issue)}}

div(ng-show='issue.desc')
  pre.well.issue-body {{extractText(issue.desc)}}
.attachments(ng-show='attachments.length > 0')
  .attachment(ng-repeat='a in attachments')
    i.glyphicon.glyphicon-cloud-download&nbsp;
    a(href='{{a.url}}', target='new') {{a.name}} ({{a.bytes | fileSize}})
.uploader(ng-show='!loading', attachments='attachments', url='/api/cards/{{issue.id}}/attachments')
.commenter(ng-show='!loading', comments='comments', issue-id='{{issue.id}}')
div(ng-show='noComments()') No comments
div(ng-show='hasComments()')
  .comments(ng-repeat='comment in comments')
    .member {{memberName(comment)}}
      span.time
        span(time-label='{{comment.date}}')
        span.system {{comment.date | simpleDate}}
    pre.text(ng-class='{system: isSystem(comment)}') {{commentBody(comment)}}
