div
  textarea(class='commenter-input', ng-model='comment', ng-disabled='submitting', ng-focus='focus()',
    ng-blur='blur()')
  a.btn.btn-primary.commenter-submit(ng-mousedown='mousedown()',
    ng-disabled='!comment || submitting') {{submitText}}
